@import url(layout/normalize.css);
@import url(../bower_components/owl.carousel/dist/assets/owl.carousel.min.css);
@import url(../bower_components/owl.carousel/dist/assets/owl.theme.green.min.css);
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 960px;
}

.section {
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 250px;
}

.container {
  width: 940px;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  min-width: 960px;
}

.main {
  color: #fff;
  margin-left: 250px;
}

.dark-bg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tagline {
  width: 500px;
  font-size: 55px;
  font-weight: 900;
  margin: 120px 0;
  letter-spacing: 5px;
}

.main__item {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__item-text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.services-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #57cd4b;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

.promotions {
  background: #c3d177;
  background: -moz-linear-gradient(left, #c3d177 0%, #72aa00 52%, #c3d177 100%);
  background: -webkit-linear-gradient(left, #c3d177 0%, #72aa00 52%, #c3d177 100%);
  background: -webkit-gradient(linear, left top, right top, from(#c3d177), color-stop(52%, #72aa00), to(#c3d177));
  background: -o-linear-gradient(left, #c3d177 0%, #72aa00 52%, #c3d177 100%);
  background: linear-gradient(to right, #c3d177 0%, #72aa00 52%, #c3d177 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d177', endColorstr='#c3d177',GradientType=1 );
  position: relative;
}

.container-promotions {
  width: 540px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel__button {
  position: absolute;
  width: 29px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  top: 50%;
}

.carousel__button-prev {
  left: 50px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.carousel__button-next {
  right: 50px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.carousel__button:hover {
  cursor: pointer;
}

.carousel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel-item {
  width: 540px;
  height: 400px;
  background-color: green;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
}

.aside {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
}

.logo {
  height: 55px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 75px 25px 35px;
}

.logo-wrapper {
  height: 200px;
  background-color: #484848;
  color: #fff;
  text-align: center;
}

.logo-description {
  font-size: 20px;
}

.menu__list {
  text-align: center;
  margin: 50px 0;
  line-height: 45px;
  font-size: 25px;
}

.menu__item {
  border-right: 6px solid transparent;
}

.menu__item-active {
  border-right: 6px solid #33c1e3;
}

.menu__item-active .menu__item-link {
  color: #33c1e3;
  font-weight: 600;
}

.menu__item-link {
  color: #000;
}

.menu__item-link:hover {
  color: #33c1e3;
  font-weight: 600;
}

.menu__item-link:hover .menu__item {
  border-right: 6px solid #33c1e3;
}

/*# sourceMappingURL=style.css.map */