$container-width: 940px;

html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

.wrapper{
	height: 100%;
	position: relative;
	overflow: hidden;
	min-width: $container-width + 20px;
}


.section{
	height: 100vh;
	min-height: 650px;
	background-size: cover;
	display: flex;
}

.container{
	width: $container-width;
	margin: auto;
	margin-left: 150px;
		// z-index: 0;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
}

ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}

p{
	padding: 0;
	margin: 0;
}

footer{
	min-width: $container-width + 20px;
}