html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: "$container-width20px"; }

.section {
  height: 100vh;
  min-height: 650px;
  background-size: cover; }

.container {
  width: '$container-width';
  margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  min-width: 960px; }
